################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdvancedRestApiMongo/bin/Debug/net8.0
/.vs/AdvancedRestApiMongo/FileContentIndex
/AdvancedRestApiMongo/Migrations
/AdvancedRestApiMongo/obj
